{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include './helpdesk/helpdesk_nav.html' %}
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
        <form action="#" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                </div>
            {% endfor %}

            <div class="formactions">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="reset" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4">
        sidebar
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    (function($) {
        $('form').on('submit', function(event) {
            event.preventDefault();

            var f = $(this);
            $.ajax({
                type: f.attr('method'),
                url: f.attr('action'),
                data: f.serialize()
            })
            .done(function(resp) {
                var m = '',
                    c = ['alert'];
                if (resp.success) {
                    m = 'Way to go champ!';
                    c.push('alert-success');
                } else {
                    m = 'You have issues!';
                    c.push('alert-danger');
                    console.log(resp.errors);
                }

                $('<div/>')
                .attr('role', 'alert')
                .addClass(c.join(' '))
                .html(m)
                .prependTo(f);

                $('[role="alert"]').animate({
                    opacity: 0.0
                }, 5000, function() {
                    // Nothing to see here
                });
            })
        });
    })(jQuery);
</script>
{% endblock %}