{% extends 'base.html' %}
{% load humanize %}
{% load helpdesk_extras %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include './helpdesk/helpdesk_nav.html' %}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>{{ article.title }}</h3>
    <div class="row">
        <div class="col-sm-2">
            <dl>
                <dd>Updated: {{ article.created_at|naturaltime}}</dd>
                <dd>Created: {{ article.created_at|naturaltime}}</dd>
            </dl>
        </div>
        <div class="col-sm-8">
            <strong>By: {{ article.author }}</strong><br>
            {{ article.content }}
            <div class="row">
                <div class="col-sm-12">
                    <a class="btn btn-primary" href="{% url 'article_edit' article.pk %}">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <strong>Topics</strong> {% make_labels article.topics %}
        </div>
    </div>
</div>
{% endblock %}