{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'issue_index' %}" class="btn btn-default">Index</a>    
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>{{ issue.title }}</h3>
    </div>    
</div>
<div class="row">
    <div class="col-sm-12">
        {{ issue.summary }}
    </div>    
</div>

<div class="row">
    <div class="col-sm-12">
        <button type="button" data-action="edit" class="btn btn-default">Edit</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Comments</h4>
    </div>

    <div class="row">
        <div class="col-sm-12">
           <ul>
                {% for comment in issue.comments %}
                    <li>{{ comment.summary }} - {{ comment.created_at|naturaltime }}</li>
                {% endfor %}
            </ul> 
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form action="{% url 'comment_create' issue.id %}" method="post">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" data-action="comment" class="btn btn-default">Post Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    (function() {
        document.querySelector('[data-action="edit"]').addEventListener('click', function(event) {
            event.preventDefault();
            document.location = "{% url 'issue_edit' issue.id %}";
        });
    })();
</script>
{% endblock %}