{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <a href="{% url 'issue_create' %}" class="btn btn-default">Create Issue</a>
        <a href="{% url 'changelog_new' %}" class="btn btn-default">Create ChangeLog Entry</a>
        <a href="{% url 'article_new' %}" class="btn btn-default">Create KB Article</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <h4>Title</h4>
            </div>
            <div class="col-sm-2"><h4>Author</h4></div>
            <div class="col-sm-2"><h4>Status</h4></div>
            <div class="col-sm-2"><h4>When Created</h4></div>
            <div class="col-sm-2"><h4>Replies</h4></div>
        </div>
    {% for issue in recent_issues %}
        <div class="row">
            <div class="col-sm-4">
                <a href="{% url 'issue_show' issue.pk %}">{{ issue.title }}</a>
            </div>
            <div class="col-sm-2">{{ issue.author }}</div>
            <div class="col-sm-2">{{ issue.status }}</div>
            <div class="col-sm-2">{{ issue.created_at|naturaltime }}</div>
            <div class="col-sm-2">
                {% if issue.comment_count > 0 %}
                    {{ issue.comment_count }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Recent Changes</h4>
    {% for entry in recent_changelogentries %}
        <div class="row">
            <div class="col-sm-12">
                <div>{{ entry.created_at|naturaltime }}</div>
                <div>{{ entry.summary }}</div>
            </div>
        </div>        
    {% endfor %}
    </div>
</div>
{% endblock %}