{% extends 'base.html' %}
{% load humanize %}
{% load helpdesk_extras %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% include './helpdesk/helpdesk_nav.html' %}
    </div>
</div>

{% for article in pinned_articles %}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info" role="alert">
            <h5><span class="glyphicon glyphicon-pushpin"></span> {{ article.title }}</h5>
            {{ article.content|truncatewords_html:25 }}
            <a href="{% url 'article_show' article.pk %}">Read more</a>
        </div>
    </div>
</div>
{% endfor %}

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <h4>Title</h4>
            </div>
            <div class="col-sm-2"><h4>Author</h4></div>
            <div class="col-sm-2"><h4>Status</h4></div>
            <div class="col-sm-2"><h4>When Created</h4></div>
            <div class="col-sm-2"><h4>Replies</h4></div>
        </div>
    {% for issue in recent_issues %}
        <div class="row issue-status-{{ issue.status|lower }}" style="margin-bottom: 10px">
            <div class="col-sm-4">
                <a href="{% url 'issue_show' issue.pk %}">{{ issue.title|truncatewords:10 }}</a><br>
                {{ issue.summary|truncatewords_html:10 }}
            </div>
            <div class="col-sm-2">{{ issue.author }}</div>
            <div class="col-sm-2">{{ issue.status }}</div>
            <div class="col-sm-2">{{ issue.created_at|naturaltime }}</div>
            <div class="col-sm-2">
                {% if issue.comment_count > 0 %}
                    {{ issue.comment_count }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Recent Changes</h4>
        <div class="row">
        {% for entry in recent_changelogentries %}
            <div class="col-sm-4">
                <div><span class="label label-default">Created: {{ entry.created_at|naturaltime }}</span></div>
                <div>{{ entry.summary|linebreaksbr }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Recent Knowledge Base Articles</h4>
        <div class="row">
        {% for entry in recent_articles %}
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ entry.title }}</div>
                    <div class="panel-body">
                        {{ entry.content|truncatewords_html:25 }}
                        <div>
                            <a href="{% url 'article_show' entry.pk %}">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}